.d-flex {
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 1rem !important;
}

.p-2 {
    padding: 2rem !important;
}

.p-3 {
    padding: 3rem !important;
}

.f-column {
    flex-direction: column;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 1.5rem;
}

.gap-4 {
    gap: 2rem;
}

.gap-5 {
    gap: 3rem;
}

p {
    margin: 0;
}


.con-center {
    justify-content: center;
}

.con-around {
    justify-content: space-around;
}

.con-between {
    justify-content: space-between;
}

.con-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.align-left {
    align-items: left;
}



.blue-btn {
    background-color: #4468bb !important;
    color: white !important;

    font-weight: bolder;
}

.blue-btn:hover {
    color: white !important;
    background-color: #8fb3da;
}

/* /////////////////////////// */

.addPatientWrapper {
    /* display: flex; */
    /* align-items: center; */
    width: 100%;
}

.collapsible-header {
    background-color: gray;
    color: white;
}

.collapsible-body {}

.collapsible-body * {
    color: black !important;
}

.collapsible-body label {
    font-size: medium;
    width: 130px;
}

.collapsible-body select {
    width: 15vw;
    padding: 0rem;
    height: 2.5rem;
}

.input {
    padding: 0.5rem;

}

.collapsible-body input[type='text'] {
    /* width: 15vw; */
    padding: 0.5rem;
}

.collapsible-body input[type='date'] {
    padding: 0.5rem;
    width: 15vw;
}

.collapsible-body textarea {
    height: 12vh;
}